<h1 class = "text-indigo-500 py-4 px-5">Editing Restaurant</h1>

<%= render 'form', restaurant: @restaurant %>



<div class = "py-10 px-5"><%= link_to 'Show', @restaurant , :class =>"button"%>
  <%= link_to 'Back', restaurants_path , :class =>"button"%></div>