
<!--  <div class = "block md:flex"">-->
<!--    <div class = bg-blue-200>-->
<!--      <h1> The Tailwind Tutorial</h1>-->
<!--      <p>From Me!</p>-->
<!--    </div>-->
<!--    <div  class = "" >-->
<!--      <div class =""></div>-->
<!--      <p class = ""> Its truly awesome</p>-->
<!--    </div>-->
<!--  </div>-->



<h1 class = "text-indigo-500 py-4 px-5">Add New Restaurant</h1>

<%= render 'form', restaurant: @restaurant %>


<a href = <%=homepage_index_path %> class=" inline-block   py-4 px-5">
  <h1 class = " text-indigo-500 hover:text-white" >Cancel</h1>
</a>


<!-- link_to 'Back', -->
